.home-header {
  padding-top: $size;
  height: 100%;
  color: #fff;
  background-color: $deep-dark;

  @include media-breakpoint-down(md) {
    padding-top: $size-sm;
  }
}

.home-header__content {
  height: 100%;
}