.slider-pagination-num {
  z-index: 50;
  position: absolute;
  right: 2.4%;
  bottom: 3.9%;
  font-family: 'Oswald', sans-serif;
  font-size: 173px;
  line-height: 1;
  color: $deep-dark;
  -webkit-text-stroke: 1px rgba(#fff, 0.15);

  @include media-breakpoint-down(xxl) {
    right: 2%;
    bottom: 3.3%;
    font-size: 144px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 120px;
    right: 23px;
    bottom: 29px;
  }

  @include media-breakpoint-down(lg) {
    right: 12px;
    font-size: 90px;
  }
}

.slider-pagination-num__dot {
  color: $accent;
  -webkit-text-stroke: 1px transparent;
}
