.slider {
  overflow: hidden;
  position: relative;
  padding-left: $size-lg;
  width: 100%;
  height: 100%;

  @include media-breakpoint-down(xxl) {
    padding-left: $size;
  }
  @include media-breakpoint-down(md) {
    padding-left: $size-sm;
  }
}

.slider__bottom {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: $size-lg;
  display: flex;
  width: calc(79% - $size-lg);
  align-items: center;
  height: $size-lg;

  @include media-breakpoint-down(xxl) {
    left: $size;
    width: calc(79% - $size);
    height: $size;
  }
  @include media-breakpoint-down(xl) {
    justify-content: space-between;
  }
  @include media-breakpoint-down(md) {
    left: $size-sm;
    width: calc(79% - $size-sm);
    height: $size-sm;
  }
}

.slider__share-list {
  outline: 1px solid $accent;
  outline-offset: -1px;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  height: $size-lg;
  background-color: $light-dark;

  @include media-breakpoint-down(xxl) {
    height: $size;
  }
  @include media-breakpoint-down(md) {
    height: $size-sm;
  }
}

.slider__share-link.socials-list__link {
  position: relative;
  min-height: 100%;

  & + & {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1px;
      height: 45px;
      background-color: rgba(#fff, $border-opacity * 2);
    }
  }

  &:last-of-type::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 3px;
    height: 100%;
    background-color: $accent;
  }

  &:hover {
    background-color: $accent;
  }
}

.slider__pagination {
  flex: 0 0 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size-lg;

  @include media-breakpoint-down(xxl) {
    flex: 0 0 140px;
    height: $size;
  }
  @include media-breakpoint-down(md) {
    height: $size-sm;
  }
}
.swiper-pagination {
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
}
.slider__pagination .swiper-pagination-bullet {
  position: relative;
  opacity: 1;
  width: 14px;
  height: 14px;
  background-color: #fff;

  @include media-breakpoint-down(xxl) {
    width: 8px;
    height: 8px;
  }
}
.slider__pagination .swiper-pagination-bullet-active::before,
.slider__pagination .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}
.slider__pagination .swiper-pagination-bullet-active::before {
  width: 8px;
  height: 8px;
  background-color: $accent;

  @include media-breakpoint-down(xxl) {
    width: 5px;
    height: 5px;
  }
}
.slider__pagination .swiper-pagination-bullet-active::after {
  border: 2px solid $accent;
  width: 20px;
  height: 20px;
  background-color: transparent;

  @include media-breakpoint-down(xxl) {
    width: 14px;
    height: 14px;
  }
}

.slider__scrollbar {
  margin-top: 6px;
  flex: 1 0 0;

  @include media-breakpoint-down(xl) {
    display: none;
  }
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  height: 1.5px;
  background-color: rgba(#fff, $border-opacity * 4);
}
.slider__scrollbar .swiper-scrollbar-drag {
  top: -1px;
  height: 3px;
  background-color: $accent;
}

.slider__nav-buttons {
  margin-right: 70px;
  position: relative;
  flex: 0 0 170px;

  @include media-breakpoint-down(xxl) {
    flex: 0 0 140px;
  }
}

.slider-navigation__container {
  margin-left: auto;
  position: relative;
  max-width: 100px;
}

.slider__nav-buttons .swiper-button-prev,
.slider__nav-buttons .swiper-button-next {
  border-radius: 50%;
  border: 2px solid $accent;
  width: 40px;
  height: 40px;
  color: $accent;
  background-color: #3c3c3c;
  transition: background-color .3s;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten(#3c3c3c, 5%);
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  margin-bottom: 0.5px;
  font-size: 19px;
}

.swiper-button-prev::after {
  margin-right: 2px;
}

.swiper-button-next::after {
  margin-left: 2px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  border-color: rgba(#fff, $border-opacity * 2.5);
  color: rgba(#fff, $border-opacity * 2.5);
}
