.slider-images {
  z-index: 4;
  overflow: hidden;
  position: relative;
  margin-left: $size;
  width: 75%;
  height: 100%;

  @include media-breakpoint-down(md) {
    margin-left: $size-sm;
    width: 100%;
  }
}

.slider-images__slide {
  overflow: hidden;
  height: 100%;
}

.slider-images__slide-background {
  height: calc(100vh - $size);
  background-position: center;
  background-size: cover;

  &::after {
    content: '';
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .25);
  }

  @include media-breakpoint-down(md) {
    height: calc(100vh - $size-sm);
  }
}