.slider-pagination-count {
  position: absolute;
  top: 12%;
  right: 3.8%;
  width: 116px;
  height: 96px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: rgba(#fff, $border-opacity * 3);

  @include media-breakpoint-down(xxl) {
    top: 92px;
    right: 57px;
    font-size: 28px;
  }

  @include media-breakpoint-down(xl) {
    top: 84px;
    right: 7px;
  }

  @include media-breakpoint-down(lg) {
    top: 79px;
    right: 2px;
    font-size: 23px;
  }
}

.slider-pagination-count__current {
  display: inline-block;
  min-width: 49px;
  font-size: 46px;
  color: $accent;

  @include media-breakpoint-down(lg) {
    font-size: 38px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 33px;
  }
}
