.socials-list {
  display: flex;
  align-items: center;
}

.home-aside__socials-list .socials-list__link {
  margin-top: -1px;
  border: 1px solid rgba(#fff, $border-opacity);
  border-bottom: 1px solid transparent;
  &:last-of-type {
    border-bottom: 1px solid rgba(#fff, $border-opacity);
  }
  &:hover {
    border: 1px solid $accent;
  }
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  transition: all 0.3s ease-out;

  &:hover img {
    scale: 1.2;
    opacity: 1;
  }

  @include media-breakpoint-down(xxl) {
    width: 60px;
    height: 60px;
  }
  @include media-breakpoint-down(md) {
    width: 40px;
    height: 40px;
  }
}

.socials-list__link img {
  opacity: 0.5;
  max-width: 30px;
  max-height: 30px;
  height: auto;
  transition: all 0.3s ease-out;

  @include media-breakpoint-down(xxl) {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(md) {
    max-width: 25px;
    max-height: 25px;
  }
}
