.top-line {
  z-index: 50;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: $size-lg;
  background-color: $deep-dark;

  @include media-breakpoint-down(xxl) {
    height: $size;
  }
}

.top-line__inner-box {
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  display: flex;
  align-items: center;
  width: 100%;
  height: $size-lg;
  
  @include media-breakpoint-down(xxl) {
    height: $size;
  }
}

.top-line__decor-line {
  flex: 1 0 0;
  text-align: center;

  &::before {
    content: '';
    position: relative;
    top: -5px;
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: rgba(#fff, $border-opacity * 1.5);

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
}

.top-line__contacts {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: rgba(255, 255, 255, 0.5);

  @include media-breakpoint-down(xxl) {
  font-size: 18px;

  }
  @include media-breakpoint-down(lg) {
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
  }
}

.top-line__contacts a {
  color: inherit;
  text-decoration: none;

  @include media-breakpoint-down(lg) {
    padding-top: 5px;
    padding-left: 3px;
  }
}

.top-line__contacts span {
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  color: $accent;
}

.top-line__separator {
  margin-left: 20px;
  margin-right: 20px;
  width: 1px;
  height: 30px;
  background-color: rgba(#fff, $border-opacity * 1.5);

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.top-line__contacts address {
  margin-bottom: 0;

  @include media-breakpoint-down(lg) {
    border-top: 1px solid rgba(#fff, $border-opacity * 1.5);
    margin: 5px;
    padding-left: 6px;
    padding-top: 5px;
    width: fit-content;
  }
}
